*{
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.Slidedown{
    animation: viewContent 0.2s ease-in-out forwards;
}

@keyframes viewContent {
    0% {
        opacity: 0;
        
        
    }
    100% {
        opacity: 1;
        
    }
  }

  