@tailwind base;
@tailwind components;
@tailwind utilities;
.Slidedown{
    animation: slideDownFromTop 0.2s ease-in-out forwards;
}
.viewContent{
    animation: viewContent 0.5s ease-in-out forwards;
  }

  @keyframes viewContent {
    0% {
        opacity: 0;
        
        
    }
    100% {
        opacity: 1;
        
    }
  }
  
  
@keyframes slideDownFromTop {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  